.ContentPanel {
	width: 100%;
	height: 100%;

	overflow: hidden;
}

.ContentPanel
.tap-bounds {
	position: relative;

	width: 100px;
  	height: 100px;

  	margin: 60% auto 10px auto;
  	border-radius: 50%;

    opacity: 0.6;
}

.ContentPanel
.tap-bounds-invert {
	opacity: 1;
}

.ContentPanel
.tap-bounds
.tap {
	position: absolute;
    top: 0;
    left: 0;

	width: 100%;
    height: 100%;

    border-radius: 50%;

    background-color: #88D5D4;
}

.ContentPanel
.tap-bounds
.finished {
	opacity: 1;
	background-color: #5ED27B;
}

.ContentPanel
.tap-bounds
.fail {
	opacity: 1;
	background-color: #D86A5C;
}

.ContentPanel
.score {
	position: absolute;
    top: 0;
    left: 0;

	width: 100%;
	margin-top: 22px;

	font-size: 5.0rem;
    color: white;
	text-align: center;
}

.ContentPanel
.title {
	width: 100%;
	text-align: center;
}

.ContentPanel
.go {
	color: #88D5D4;
}

.ContentPanel
.finished {
	color: #5ED27B;
}

.ContentPanel
.fail {
	color: #D86A5C;
}


/* Larger than phablet */
@media (min-width: 550px) {
	.ContentPanel
	.tap-bounds {
		margin-top: 50%;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.ContentPanel
	.tap-bounds {
		margin-top: 40%;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.ContentPanel
	.tap-bounds {
		margin-top: 30%;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.ContentPanel
	.tap-bounds {
		margin-top: 20%;
	}
}
