/* ---- Colours ---- */
/* Primary   
   #ffff
*/

/* Secondary 
   #040404
*/

/* Highlight 
   #424242
*/


/* ---- CSS Imports ---- */

@import url("bower_components/skeleton/css/normalize.css");
@import url("bower_components/skeleton/css/skeleton.css");
@import url("bower_components/fontawesome/css/font-awesome.min.css");

/* utilise-notify */
@import url("bower_components/utilise-js/src/css/notify.css");


/* ---- Component Imports ---- */

@import url("components/content-panel/main.css");


/* ---- Font Imports ---- */

/*
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Oswald);
*/


/* ---- General CSS ---- */

body {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;

    overflow: hidden;
}

h1,h2,h3,h4,.title {
    font-family: 'Arvo', serif;
}

.logo-icon {
    display: inline-block;
    width: 22px;
    height: 12px;
}

button.button-primary, a.button-primary, .button.button-primary,
button.button-primary:focus, a.button-primary:focus, .button.button-primary:focus {
    background-color: #040404;
    border-color: #040404;
}

button.button-primary:hover, a.button-primary:hover, .button.button-primary:hover,
button.button-primary:focus, a.button-primary:focus, .button.button-primary:focus {
    background-color: #424242;
    border-color: #424242;
}

button.button-primary:active, a.button-primary:active, .button.button-primary:active {
    -webkit-box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
    box-shadow: inset 5px 5px 30px 5px rgba(0,0,0,0.3);
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, 
input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, 
input[type="password"]:focus, textarea:focus, select:focus {
    border-color: #424242;
}

.main {
    position: absolute;
    height: 100%;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ContentPanel
.transition-base {
    -webkit-transition: 0.2s;
       -moz-transition: 0.2s;
        -ms-transition: 0.2s;
         -o-transition: 0.2s;
            transition: 0.2s;
}


/* ---- Spinny ---- */

.spinner {
    width: 100px;
    height: 100px;

    position: relative;
    margin: 60% auto 0px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #88D5D4;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* ---- Media Queries ---- */

/* Larger than phablet */
@media (min-width: 550px) {
    .spinner {
        margin-top: 50%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .spinner {
        margin-top: 40%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .spinner {
        margin-top: 30%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .spinner {
        margin-top: 20%;
    }
}


/** ie10mobile.css **/
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}
